.qnaWrapper {
  background-image: url(/public/pricesection@3x.png);
  background-color: rgba(0, 0, 0, 0.75);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center; /* 或者其他对齐方式 */
  justify-content: center; /* 根据需要调整 */
  gap: 10rem;
  padding: 6rem 0;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  width: 95%;
  justify-content: center;
}

.leftContent,
.rightContent {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

@media (max-width: 960px) {
  .contentWrapper {
    flex-direction: column;
    width: 95%;
  }
}
