.aboutUs {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 700;
  font-family: inherit;
}
.loremIpsumDolor {
  display: block;
}
.loremIpsumDolorContainer {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 140%;
}
.aboutSection,
.aboutWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-141xl);
  box-sizing: border-box;
  gap: var(--gap-21xl);
  max-width: 50rem;
}
.aboutSection {
  align-self: stretch;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), #332f2e;
  flex-direction: row;
  padding: var(--padding-29xl) var(--padding-221xl);
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--common-0-white);
  font-family: var(--px-regular);
}
@media screen and (max-width: 960px) {
  .aboutWrapper {
    padding: 0;
    width: 90%;
  }
  .aboutSection {
    padding: 2rem 3rem;
  }
}
