.appointment,
.firstName {
  position: relative;
  line-height: 140%;
  font-weight: 700;
}
.appointment {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.firstName {
  cursor: pointer;
  align-self: stretch;
}
.userIcon {
  position: relative;
  width: 16px;
  height: 16px;
}
.firstname1 {
  border: 0;
  font-family: var(--px-regular);
  font-size: var(--px-regular-size);
  background-color: transparent;
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 140%;
  color: var(--color-gray-200);
  text-align: left;
}
.firstname,
.inputwrapper {
  display: flex;
  align-items: center;
  gap: var(--gap-5xs);
}
.inputwrapper {
  align-self: stretch;
  border-radius: var(--br-31xl);
  background-color: var(--common-0-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--common-4-field);
  box-sizing: border-box;
  height: 52px;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
}
.firstname {
  flex: 1;
  height: 89px;
  flex-direction: column;
  justify-content: center;
  min-width: 320px;
}
.evelopeIcon {
  position: relative;
  width: 15px;
  height: 12px;
}
.calendarIcon,
.phoneIcon {
  position: relative;
  width: 13px;
  height: 13px;
}
.calendarIcon {
  height: 14.4px;
}
.calendar {
  border: 0;
  font-family: var(--px-regular);
  font-size: var(--px-regular-size);
  background-color: transparent;
  flex: 1;
  position: relative;
  line-height: 140%;
  color: var(--color-gray-200);
  text-align: left;
}
.groupIcon {
  position: relative;
  width: 13px;
  height: 14px;
}
.people {
  flex: 1;
  height: 89px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  min-width: 140px;
  max-width: 160px;
}
.inputwrapper7 {
  align-self: stretch;
  border-radius: var(--br-31xl);
  background-color: var(--common-0-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--common-4-field);
  box-sizing: border-box;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
}
.address {
  flex: 1;
  height: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  min-width: 320px;
}
.inputwrapper8,
.message {
  display: flex;
  justify-content: flex-start;
}
.inputwrapper8 {
  align-self: stretch;
  border-radius: 24px;
  background-color: var(--common-0-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--common-4-field);
  box-sizing: border-box;
  height: 129px;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-base);
}
.message {
  flex: 1;
  height: 161px;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xs);
  min-width: 320px;
}
.form,
.submit1 {
  font-family: var(--px-regular);
}
.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 880px;
  text-align: left;
  font-size: var(--px-regular-size);
  color: var(--color-gray-100);
}
.submit1 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 140%;
  font-weight: 700;
  color: #f5f5f5;
  text-align: center;
}
.booktable,
.submit {
  border-radius: var(--br-31xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-45xl);
  background-color: var(--color-crimson-100);
  flex-direction: row;
}
.booktable {
  background-color: var(--common-0-white);
  width: 885px;
  height: 939px;
  flex-direction: column;
  padding: var(--padding-13xl) var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  max-width: 900px;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-200);
  font-family: var(--px-regular);
}
@media screen and (max-width: 420px) {
  .appointment {
    font-size: var(--font-size-5xl);
  }
  .form {
    font-size: var(--px-regular-size);
  }
  .booktable {
    width: 360px;
    align-items: center;
    justify-content: flex-start;
    border-radius: var(--br-31xl);
    max-width: 360px;
    padding: var(--padding-5xs);
  }
}
