.bellicon,
.book {
  position: relative;
}
.bellicon {
  width: 1rem;
  height: 1rem;
}
.book {
  font-size: var(--px-regular-size);
  line-height: 140%;
  font-family: var(--px-regular);
  color: var(--common-0-white);
  text-align: left;
}
.bookbutton {
  cursor: pointer;
  border: 2px solid var(--color-crimson-100);
  padding: var(--padding-5xs);
  background-color: var(--color-crimson-100);
  margin: 0 !important;
  position: absolute;
  top: 1.75rem;
  right: 8.84rem;
  border-radius: var(--br-81xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  min-width: 6.25rem;
  max-width: 8.75rem;
  z-index: 0;
}
.hamline1Icon {
  position: relative;
  width: 2.92rem;
  height: 0.31rem;
}
.hamburger {
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 1;
}
.menu1 {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 140%;
  font-family: var(--px-regular);
  color: var(--common-0-white);
  text-align: center;
}
.menu,
.menuButton,
.story {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu,
.story {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  flex-direction: column;
}
.menuButton {
  margin: 0;
  flex: 1;
  flex-direction: row;
  gap: var(--gap-141xl);
  z-index: 2;
}
.logoIcon {
  position: absolute;
  margin: 0 !important;
  top: 1.25rem;
  left: 3.13rem;
  width: 10.5rem;
  height: 10.5rem;
  object-fit: cover;
  z-index: 3;
}
.navbar {
  margin: 0;
  align-self: stretch;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), #332f2e;
  height: 6.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl) var(--padding-508xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
  min-height: 6.25rem;
}
@media screen and (max-width: 960px) {
  .hamburger {
    display: flex;
  }
  .menuButton {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .bellicon {
    width: 0.5rem;
    height: 0.5rem;
  }
  .bellicon,
  .book {
    display: flex;
  }
  .bookbutton,
  .hamburger {
    display: flex;
    position: absolute;
  }
  .bookbutton {
    width: 5.5rem;
    height: 1.25rem;
    left: 10rem;
  }
  .hamburger {
    left: 2.5rem;
    top: 2.5rem;
  }
  .menuButton {
    display: none;
  }
  .logoIcon {
    width: 5.5rem;
    height: 5.5rem;
  }
}
