.priceSectionChild {
  width: 100%;
  position: relative;
  border-top: 4px solid var(--common-0-white);
  box-sizing: border-box;
  height: 0.25rem;
  max-width: 90rem;
}
.b {
  color: var(--color-crimson-200);
}
.personNow50Container {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  display: inline-block;
  width: 62.69rem;
  flex-shrink: 0;
  z-index: 0;
  font-family: inherit;
}
.priceHeaderChild {
  flex: 1;
  position: absolute;
  margin: 0 !important;
  top: 2.65rem;
  left: -0.16rem;
  max-width: 100%;
  overflow: hidden;
  height: 3.62rem;
  z-index: 1;
}
.priceHeader {
  border-radius: var(--br-31xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-77xl);
}
.howItWorks {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 700;
  font-family: inherit;
}
.bookAPrivate,
.priceDRChild {
  align-self: stretch;
  position: relative;
}
.priceDRChild {
  border-top: 4px solid var(--common-0-white);
  box-sizing: border-box;
  height: 0.25rem;
}
.bookAPrivate {
  line-height: 200%;
}
.priceDRP {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-base) var(--padding-45xl);
  text-align: center;
  font-size: var(--font-size-29xl);
}
.priceDR,
.priceDRP,
.priceDetails {
  display: flex;
  align-items: center;
}
.priceDR {
  flex: 1;
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-400);
  border: 4px solid var(--common-0-white);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-45xl) var(--padding-13xl);
  gap: var(--gap-45xl);
}
.priceDetails {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-101xl);
  box-sizing: border-box;
  max-width: 120rem;
}
.span {
  font-weight: 800;
  font-family: var(--px-regular);
}
.minimumForAllParties {
  margin: 0;
}
.lobsterTail {
  font-family: var(--px-regular);
}
.minimumForAllContainer {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  white-space: pre-wrap;
}
.priceDR1,
.priceDRP1,
.priceSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.priceDRP1 {
  align-self: stretch;
  justify-content: center;
  padding: var(--padding-base);
  text-align: center;
  font-size: var(--font-size-29xl);
}
.priceDR1,
.priceSection {
  justify-content: flex-start;
}
.priceDR1 {
  flex: 1;
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-400);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--common-0-white);
  padding: var(--padding-45xl) var(--padding-13xl);
  gap: var(--gap-45xl);
}
.priceSection {
  align-self: stretch;
  padding: var(--padding-45xl) var(--padding-101xl);
  gap: var(--gap-41xl);
  background-image: url(/public/pricesection@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 3;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--common-0-white);
  font-family: var(--px-regular);
}
@media screen and (max-width: 960px) {
  .priceDR {
    flex: unset;
    align-self: stretch;
  }
  .priceDetails {
    flex-direction: column;
    gap: var(--gap-101xl);
    align-items: center;
    justify-content: center;
  }
  .priceDR1 {
    flex: unset;
    align-self: stretch;
  }
}
