.priceseparateline {
  width: 100%;
  position: relative;
  border-top: 4px solid var(--common-0-white);
  box-sizing: border-box;
  height: 0.25rem;
  max-width: 90rem;
}
.span {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 6px;
}
.b,
.span1 {
  font-family: var(--px-regular);
  color: var(--color-crimson-200);
}
.span1 {
  color: var(--common-0-white);
}
.personNow50Container {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  display: inline-block;
  width: 100%;
  flex-shrink: 0;
  z-index: 0;
  font-family: inherit;
}
.strikethroughlineIcon {
  position: absolute;
  margin: 0 !important;
  top: 1.31rem;
  left: 18.31rem;
  width: 4.07rem;
  height: 1.91rem;
  display: none;
  z-index: 1;
}
.priceHeader {
  border-radius: var(--br-31xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-3xs);
}
.howItWorks {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 700;
  font-family: inherit;
}
.bookAPrivate,
.howitworksline {
  align-self: stretch;
  position: relative;
}
.howitworksline {
  border-top: 2px solid var(--common-0-white);
  box-sizing: border-box;
  height: 0.13rem;
}
.bookAPrivate {
  margin: 0;
  font-size: var(--font-size-xl);
  line-height: 200%;
  text-align: center;
}
.priceDR {
  width: 100%;
  border-radius: var(--br-31xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  background-image: url(/public/pricedr@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 50rem;
}
.span2 {
  font-weight: 800;
  font-family: var(--px-regular);
}
.minimumForAllParties {
  display: block;
}
.lobsterTail {
  font-family: var(--px-regular);
}
.minimumForAllContainer {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.02em;
  line-height: 120%;
  white-space: pre-wrap;
  text-align: center;
}
.priceDR1,
.priceDetails,
.priceSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.priceDR1 {
  width: 100%;
  border-radius: var(--br-31xl);
  justify-content: flex-start;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  background-image: url(/public/pricedr1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 50rem;
}
.priceDetails,
.priceSection {
  justify-content: center;
}
.priceDetails {
  width: 100%;
  padding: 0 var(--padding-221xl);
  box-sizing: border-box;
  gap: var(--gap-101xl);
  max-width: 120rem;
  text-align: left;
  font-size: var(--font-size-13xl);
}
.priceSection {
  align-self: stretch;
  padding: var(--padding-29xl) var(--padding-101xl);
  gap: var(--gap-41xl);
  background-image: url(/public/pricesection@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--common-0-white);
  font-family: var(--px-regular);
}
/* @media screen and (max-width: 960px) {
  .priceDetails {
    flex-direction: column;
    gap: var(--gap-101xl);
    align-items: center;
    justify-content: center;
  }
} */
@media screen and (max-width: 960px) {
  .personNow50Container {
    font-size: var(--font-size-5xl);
  }
  .priceHeader {
    padding: var(--padding-13xl);
    width: 90%;
  }
  .howItWorks {
    padding: var(--padding-base);
    font-size: var(--font-size-5xl);
  }
  .bookAPrivate {
    padding: var(--padding-5xs);
    font-size: var(--px-regular-size);
  }
  .priceDR {
    padding: var(--padding-5xl);
  }
  .minimumForAllContainer {
    padding: var(--padding-5xs);
    font-size: var(--px-regular-size);
  }
  .priceDR1 {
    padding: var(--padding-5xl);
  }
  .priceDetails {
    border-radius: 0;
    padding: var(--padding-5xs);
  }
  .priceSection {
    padding: var(--padding-13xl);
  }
}
