.foodSakeFire,
.letYourFamily {
  margin: 0 !important;
  position: absolute;
  line-height: 140%;
  font-family: inherit;
}
.foodSakeFire {
  top: 2.81rem;
  left: 1.06rem;
  font-size: inherit;
  font-weight: 700;
  z-index: 0;
}
.letYourFamily {
  top: 6.88rem;
  left: 1.5rem;
  font-size: var(--font-size-5xl);
  font-weight: 400;
  z-index: 1;
}
.videoSection,
.videoheaderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.videoheaderWrapper {
  margin: 0 !important;
  position: absolute;
  top: 3.63rem;
  left: 0;
  justify-content: center;
  padding: var(--padding-xs) 0;
  gap: var(--gap-base);
  z-index: 0;
  width: 100%;
}
.videoSection {
  align-self: stretch;
  justify-content: flex-start;
  position: relative;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--common-0-white);
  font-family: var(--px-regular);
  /* height: 100vh; */
  margin-bottom: -0.75rem;
}

@media screen and (max-width: 960px) {
  .videoheaderWrapper {
    top: 0;
  }

  .foodSakeFire {
    font-size: 1.5rem;
    top: 0.2rem;
    left: 1.2rem;
  }
  .letYourFamily {
    font-size: 0.8rem;
    top: 2rem;
    left: 1.2rem;
  }
}
