.foodSakeFire,
.letYourFamily {
  margin: 0 !important;
  position: absolute;
  line-height: 140%;
  font-family: inherit;
}
.foodSakeFire {
  top: 2.81rem;
  left: 1.06rem;
  font-size: inherit;
  font-weight: 700;
  z-index: 0;
}
.letYourFamily {
  top: 6.88rem;
  left: 1.5rem;
  font-size: var(--font-size-5xl);
  font-weight: 400;
  z-index: 1;
}
.videoSection,
.videoheaderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.videoheaderWrapper {
  margin: 0 !important;
  position: absolute;
  top: 1.63rem;
  left: 0;
  justify-content: center;
  padding: var(--padding-xs) 0;
  gap: var(--gap-base);
  z-index: 0;
}
.videoSection {
  align-self: stretch;
  overflow: hidden;
  justify-content: flex-start;
  position: relative;
  background-image: url(/public/videosection@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--common-0-white);
  font-family: var(--px-regular);
}
