@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;800&display=swap");
body {
  margin: 0;
  padding: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --px-regular: Roboto;

  /* font sizes */
  --font-size-5xl: 1.5rem;
  --font-size-29xl: 3rem;
  --font-size-45xl: 4rem;
  --font-size-77xl: 6rem;
  --font-size-13xl: 2rem;
  --font-size-17xl: 2.25rem;
  --px-regular-size: 1rem;
  --font-size-xl: 1.25rem;

  /* Colors */
  --common-0-white: #fff;
  --color-gray-100: #0c191f;
  --color-gray-200: #141312;
  --color-gray-300: #ffffff;
  --color-gray-400: rgba(34, 27, 27, 0.56);
  --color-crimson-100: #ef4141;
  --color-crimson-200: #d92c2c;
  --common-4-field: #f4f6f8;
  --color-black: #000;

  /* Gaps */
  --gap-45xl: 4rem;
  --gap-13xl: 2rem;
  --gap-101xl: 7.5rem;
  --gap-41xl: 3.75rem;
  --gap-3xs: 0.63rem;
  --gap-21xl: 2.5rem;
  --gap-61xl: 5rem;
  --gap-141xl: 10rem;
  --gap-xs: 0.75rem;
  --gap-5xl: 1.5rem;
  --gap-5xs: 0.5rem;

  /* Paddings */
  --padding-5xl: 1.5rem;
  --padding-101xl: 7.5rem;
  --padding-45xl: 4rem;
  --padding-13xl: 2rem;
  --padding-base: 1rem;
  --padding-61xl: 5rem;
  --padding-xs: 0.75rem;
  --padding-5xs: 0.5rem;

  /* Border radiuses */
  --br-81xl: 100px;
  --br-31xl: 50px;
}
